<configuration>
    <dllmap os="!windows" dll="avformat-51.dll" target="libavformat.so" />
    <dllmap os="!windows" dll="avcodec-51.dll" target="libavcodec.so" />
    <dllmap os="!windows" dll="swscale-0.dll" target="libswscale.so" />
    <dllmap os="!windows" dll="avutil-49.dll" target="libavutil.so" />
</configuration>
